NEXT_PUBLIC_FUZZ_MODE=true
NEXT_PUBLIC_SUPABASE_URL=https://zzfveoarbcifgqhxuqjt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6ZnZlb2FyYmNpZmdxaHh1cWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MTE1NzYsImV4cCI6MjA4NjE4NzU3Nn0.W0B5BcqEvU11z3Q-X7aoFDTF467Us3hBhiDsupQHHec
